body
{
    font-family: monospace;
}

.main-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.mainbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timebox, .ipbox, .torbox, .weatherbox, .linkbox, .searchbox
{
    display: flex;
    justify-content: center;
}

form
{
    height: 2em;
    margin: auto;
    display: inherit;
}

table
{
    table-layout: fixed;
    width: 50%;
}

td
{
    /* max-width: 100%; */
    white-space: nowrap;
}
